body {
    background-color: #FFFEEB;
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    background-color: #FFFEEB;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 30px;
  }
  
  ::placeholder{
    color: #b7b7b7;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #FFFEEB;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #18CF2A;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #18CF2A;
    width: 270px;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .registro-container {
    text-align: center; /* Ajusta el posicionamiento a centrado */
    margin-top: 20px;
  }

  .registro-buttons a {
    display: inline-block;
    position: relative;
    width: 110px; /* Ajusta el ancho de los botones según tus necesidades */
    padding: 10px;
    margin-right: 10px; /* Ajusta el margen entre los botones según tus necesidades */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  
  .registro-buttons span {
    position: absolute;
    left: 8px; /* Ajusta la posición del logo según tus necesidades */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .registro-buttons a.facebook-button {
    background-color: #FFFEEB;
  }
  
  .registro-buttons a.google-button {
    background-color: #FFFEEB;
  }
  
  .registro-buttons a:hover {
    opacity: 0.8;
  }

  .container p:first-of-type {
    margin-bottom: 40px;
  }
  
  p {
    margin-bottom: 30px;
    font-size: 15px;
    color: #757575;
  }
  
  a{
    color: #18CF2A;
  }
  .links {
    margin-top: 1px;
    margin-bottom: 20px;
    text-align: right;
  }
  
  .links a {
    color: #18CF2A;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  